<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="settings" type="FreeSpaceChecker.Settings.SettingsConfiguration, gu-free-space-checker, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" requirePermission="true"/>
  </configSections>
  <settings adminLogin="" loginSalt="" adminPass="" passSalt="">
	  <objectsToCheck loggerPath="E:\work\Projects\gu-free-space-checker1">
		  <comp ip="localhost"      disks="C-10,D-20"/>
	  </objectsToCheck>
    <emails sendEmail="false" smtpServer="serv" mailFrom="test@test.by">
      <email mail="asd@asd.ad" subject="Low disk space alert!"/>
    </emails>
  </settings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>

<!-- EXAMPLES                                                       -->
<!-- <comp ip="1.1.1.1"       disks="C=\Address-5,D=\Empty-10"/> -->
<!-- <comp ip="1.1.1.1"       disks="C-2,D-2,E-10"/>             -->